
$orangeCOlor:#D57413;
$ligthBlueColor:#D4EBFF;




@mixin imageCol ($image, $imageX, $imageY, $ImgHeight, $imgRadius){
    height: $ImgHeight;
    border-radius: $imgRadius;

    background: {
        image:$image;
        repeat: no-repeat;
        size: cover;
        position: $imageX $imageY;  
    }     
}


body {
    margin:0px;
    padding:0px;    
}

.headerimage{
   
    background-image: url("../img/pexels-julius-silver-753626.jpg");
    background-position:20% 50%;
    height: 100vh;    
    background-repeat: no-repeat;

    @media only screen and (min-device-width: 500px) and (max-device-width: 750px) and (orientation: landscape) {
        height: 140vh;              
    }

    @media only screen and (min-device-width: 800px) and (max-device-width: 1020px) and (orientation: landscape) {
        height: 160vh;      
    }

}

.overideColor {
    font-size: 1.6em;
    a {
        color:white;
    }
}



.downPart {
    margin-top:5%;
}
.hederText {
    color:white;
    font-weight: bold;
    padding-top:15vh;
    padding-left:10%;   
}

a {
    color:black;
    font-size: 1.1em;
}

.arrows { 
    padding-top:35vh;
    font-size: 4em;
    color:$orangeCOlor;
    padding-left:45%;  
}

.firstSection {
    margin-top: 5%;
    margin-bottom: 15%;
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1080px) and (orientation: landscape) {  
        margin-left:20%;
    }


}


.innerFirstImage {
   @include imageCol(url("../img/pexels-quang-nguyen-vinh-2132126.jpg"), 0, 60%, 50vh, 50%);

   @media only screen and (min-device-width: 500px) and (max-device-width: 823px) and (orientation: landscape) {
     @include imageCol(url("../img/pexels-quang-nguyen-vinh-2132126.jpg"), 0, 60%, 100vh, 80%);   
    }  

    //Pc screen
    @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) {
        @include imageCol(url("../img/pexels-quang-nguyen-vinh-2132126.jpg"), 0, 60%, 50vh, 80%);   
    }    
}

.innerText { 
    margin-top:6%;
    h1 {
        color:$orangeCOlor;
        font-weight: lighter;
        margin-left: 30%;        
    }
    button {
        background-color: $orangeCOlor;
        color:white;
        border:none;
        margin-left: 60%;
    }
    @media only screen and (min-device-width: 500px) and (max-device-width: 1080px) and (orientation: landscape) {       
        h1 { 
            font-size: 3em;
        }     
       
        p {
            font-size: 1.5em;
            width: 90%;
        }  
        
        button {
            width: 25%;
            height: 3em;
            font-size: 1.2em;
        }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1000px) and (orientation: portrait) {
        h1 { 
            font-size: 4em;
            margin-left: 32%;
        }            
        p {
            font-size: 1.4em;     
        }  
        
        button {      
            font-size: 1.50em;
        }
    }
}

.jumbotron {
    background-color:$ligthBlueColor;

    img { 
        width: 100%;
        height: 15vh;
    }
    button {
        margin-left: 50vw;
        margin-top:2%;
        background-color:$orangeCOlor;
        color:white;        
    } 
    @media only screen and (min-device-width: 500px) and (max-device-width: 1080px) and (orientation: landscape) { 
        width: 80vw;       

        p {
            font-size: 1.7em;
        }
        
        img { 
            width: 100%;
            height: 50vh;
        }        
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1000px) and (orientation: portrait) {
        button {
            width: 20%;
            height: 4em;
            margin-left: 65vw;

        }
    }

    @media only screen and (min-device-width: 800px) and (max-device-width: 1480px) {

       
        img {
            height: 41vh;

        }
        button {
            font-size: 1.2em;
            font-weight: bold;
            margin-left: 1vw;
            height: 3em;
            width: 20%;
            
        }

        h1 { 
            margin-bottom: 5%;
        }
        p {
            font-size: 1.3em;
        }          
    }        
}

.lastSection { 
    margin-top: 5%;

}

.lastArc {
    img {
        width: 100%;
        height: 15vh;
    }
}

.addapt {
    background-color: white;  
    

    button {
        background-color: $ligthBlueColor;
        color:black;
    }

    @media only screen and (min-device-width: 1100px) and (max-device-width: 1480px) {
        button { 
            margin-left: 80vw;
        }

    }
}

@media only screen and (min-device-width: 1100px) and (max-device-width: 1480px) {
    .container { 
        max-width: 100%;
    }

    .overideColor {
        a { 
            margin-right: 20px;
        }
    }

    .hederText { 
        font-size: 3em;
    }
}



