
$orangeCOlor:#D57413;
$ligthBlueColor:#D4EBFF;

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


html {
    scroll-behavior: smooth;
}


@mixin imageCol ($image, $imageX, $imageY, $ImgHeight, $imgRadius){
    height: $ImgHeight;
    border-radius: $imgRadius;

    background: {
        image:$image;
        repeat: no-repeat;
        size: cover;
        position: $imageX $imageY;  
    }     
}


body {
    margin:0px;
    padding:0px; 
    font-family: 'Raleway', sans-serif;   
}


.brandName {
    font-family: 'Architects Daughter', cursive;
}
.headerimage{
   
   background-image: url("../img/darkRender.jpg");
    background-position:20% 50%;
    height: 100vh;    
    background-repeat: no-repeat;

    @media only screen and (min-device-width: 500px) and (max-device-width: 750px) and (orientation: landscape) {
        height: 140vh;              
    }

    @media only screen and (min-device-width: 800px) and (max-device-width: 1020px) and (orientation: landscape) {
        height: 160vh;      
    }

}

.overideColor {
    font-size: 1.6em;
    a {
        color:white;
    }
}



.downPart {
    margin-top:5%;
}
.hederText {
    display: inline-block;
    font-family: 'Architects Daughter', cursive;    
    color:white;
    width: 100%;
    font-size: 5em;
    margin-top:15vh;
    padding-left:5%;
    
    span {
        color:$ligthBlueColor;
        font-family: 'Permanent Marker', cursive;
    }
}

a {
    color:black;
    font-size: 1.1em;
}

.arrows { 
    padding-top:3vh;
    font-size: 6em;
    color: $ligthBlueColor;
    padding-left: 42vw; 
    a { 
        color:white;
    }
    a:hover { 
        color:white;
        text-decoration: none;    
} 
}

.firstSection {
    margin-top: 5%;
    margin-bottom: 15%;
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1080px) and (orientation: landscape) {  
        margin-left:20%;
    }
}


.innerFirstImage {
   @include imageCol(url("../img/pexels-quang-nguyen-vinh-2132126.jpg"), 0, 60%, 50vh, 50%);

   @media only screen and (min-device-width: 500px) and (max-device-width: 823px) and (orientation: landscape) {
     @include imageCol(url("../img/pexels-quang-nguyen-vinh-2132126.jpg"), 0, 60%, 100vh, 80%);   
    }  

    //laptop screen
    @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) {
        @include imageCol(url("../img/pexels-quang-nguyen-vinh-2132126.jpg"), 0, 65%, 50vh, 60%);   
    }    
    
    //BigScreen 
    @media only screen and (min-device-width: 1500px) {
        @include imageCol(url("../img/pexels-quang-nguyen-vinh-2132126.jpg"), 0, 60%, 40vh, 80%);   
    }  

}
.contactSection {
    margin-bottom: 10%;
}

.productSection {
    margin-bottom:10%;        
}

.innerText { 
    margin-top:6%;
    h1 {
        color:$orangeCOlor;
        font-weight: lighter;
        margin-left: 30%;        
    }
    button {
        background-color: $orangeCOlor;
        color:white;
        border:none;
        margin-left: 40%;
    }
    @media only screen and (min-device-width: 500px) and (max-device-width: 1080px) and (orientation: landscape) { 
        
        
        h1 { 
            font-size: 3em;
        }     
       
        p {
            font-size: 1.5em;
            width: 90%;
        }  
        
        button {
            width: 25%;
            height: 3em;
            font-size: 1.2em;
        }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1000px) and (orientation: portrait) {
        h1 { 
            font-size: 4em;
            margin-left: 32%;
        }            
        p {
            font-size: 1.4em;     
        }  
        
        button {      
            font-size: 1.50em;
        }
    }
}

.jumbotron {
    background-color:$ligthBlueColor;

    img { 
        width: 100%;
        height: 15vh;
    }
    button {
        margin-left: 50vw;
        margin-top:2%;
        background-color:$orangeCOlor;
        color:white;        
    } 
    @media only screen and (min-device-width: 500px) and (max-device-width: 1080px) and (orientation: landscape) { 
        width: 80vw;       

        p {
            font-size: 1.7em;
        }
        
        img { 
            width: 100%;
            height: 50vh;
        }   
       
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1000px) and (orientation: portrait) {
        button {
            width: 20%;
            height: 4em;
            margin-left: 65vw;

        }
    }

    @media only screen and (min-device-width: 800px) and (max-device-width: 1480px) {
        
    
        
       
        img {
            height: 41vh;

        }
        button {
            font-size: 1.2em;
            font-weight: bold;
            margin-left: 1vw;
            height: 3em;
            width: 20%;
            
        }

        h1 { 
            margin-bottom: 5%;
        }
        p {
            font-size: 1.3em;
        }          
    }        
}

.lastSection { 
    margin-top: 5%;

}

.lastArc {
    img {
        width: 100%;
        height: 15vh;
    }
}

.addapt {
    background-color: white;  
    

    button {
        background-color: $ligthBlueColor;
        color:black;
    }

    @media only screen and (min-device-width: 1100px) and (max-device-width: 1480px) {
        button { 
            margin-left: 80vw;
        }
        .seeMoreCorrcet {
            margin-left:80%;
        }

    }
}

@media only screen and (min-device-width: 1100px) and (max-device-width: 1480px) {
    .container { 
        max-width: 100%;
    }

    .overideColor {
        a { 
            margin-right: 20px;
        }
    }

    .hederText {         
        font-size: 4em;
       
    }    

  
}

@media only screen and (min-device-width: 1500px) { 

  .overRideTheJump {
      
        button {
        margin-left:3vw;
        height: 3em;
        width: 10em;
      }
      p {
          font-size:1.1em;
      }
        
  }
  .addapt {

    button {
        margin-left:60vw;
        height: 3em;
        width: 10em;
      }
}

    .brandName {
        font-size:3em;
    }

    .downPart {
        margin-top: 10%;
    }
    .overPage {
        max-width: 80%;
    }

    .jumbotron {
        img { 
            width: 100%;
            height: 15vw;
        }
    }
    .hederText { 
        margin-top:15%;
        font-size: 6.5em;
        span {
            
            font-size:0.8em;
        }
    } 

  

    .overideColor {
        a { 
            margin-right: 20px;
        }
    }
    .sectionPage {
        margin-top:100px;
    }

    .Jumpo {
        max-width: 100%;
        padding-left: 0;
        padding-right:0;        
    }
    .overRideTheJump {
        height: 40em;

        img { 
            width: 95%;
            height: 40vh;
            object-fit: cover;
        }
        h1 { 
            margin-left: 5%;
            margin-top:5%;
            margin-bottom: 1em;
            
        }
        p  {
            margin-left: 5%;
            font-size: 1.3em;
        }
    } 

    //Travel Page 

   
}


//Travel Page 


.downSection {
    width: 100%;

}
.infoText { 
    h1 {
        margin:3%;        
        font-size: 8vw;
        color:$orangeCOlor;
    }
    p {
        margin:3%; 
        font-size: 5vw;


    }
    
}

.gridEdit {
    margin-top:10%;

    button {
        background-color: $orangeCOlor;
        color:white;
        font-size: 1.2em;
        border:none;
    }
}

.footerHack {
    margin-top:10%;
    height: 3em;

}
.card-body {
    h3 {
        color:$orangeCOlor;
    }
}


.img-square-wrapper {
    object-fit: cover;
}

.iconCLass {
    margin-left:10vw;
    color:$orangeCOlor
}
.iconClassTwo {
    color:rgb(26, 28, 156);


}
@media only screen and (min-device-width: 1500px) {
    .card__edith {
        display: flex;
        flex: 1 1 auto;

        
    }  

    .infoText { 
        h1 {
            margin-left:10%;       
            font-size: 3vw;
        }
        p {
            margin-left:10%; 
            font-size: 1.4vw;   
    
        }
        
    }

    .edithContainer {
        max-width: 80%;
    }

    .btnEdith {
        float: right;
    }
    .card-img-top {
        height: 35vh;
        width: 100%;
        object-fit: cover;
    }

}


//Contact us Page


.contactUS {
    margin-top:8em;
    margin-left: 10%;
     h1 {
         color:$orangeCOlor;
     }
}

.btn-primary {
    background-color: $orangeCOlor;
    color:white;
    border:none;
}


.helloCLass {
    position: fixed;
    bottom: 0;    
    width: 100%;
    height: 3em;
}


.form-control {
    width: 80%;
    margin-left: 10%;
}
.btn-primary{ 
    margin-left:10%;
}



@media only screen and (min-device-width: 1200px) {

    .form-control {
        width: 60%;
        margin-left: 20%;
        margin-top:1.5%;
    }
    .btn-primary{ 
   
        margin-left:74%;
        margin-top:2%;
        height: 3em;      
        font-size: 1.1em;
    }
    .contactUS {

        margin-left: 20%;
    }
    


}

@media only screen and (min-device-width: 1100px) and (max-device-width: 1480px) {
    .infoText { 
        h1 {
            margin:3%;        
            font-size: 4vw;
            color:$orangeCOlor;
        }
        p {
            margin:3%; 
            font-size: 2vw;  
        }        
    }

    .brandName  {
        font-size: 2em;
    }
}

.formerror { 
    display: none;
    color:red;
    font-family: sans-serif;
    margin-left:10vh;
  
}


//produectPAge 

@media only screen and (min-device-width:1000px)  {
    .productSection {
        margin-top:5%;        
    }

    .imgClass {
        object-fit: cover;
    }
    .card-text {
        font-size:2.4vh;
        width: 100%;
    }
    .edithClass {
        margin-top:1%;
    }
    .formerror { 
   
        margin-left:38vh;
      
    }
}



